<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs Page</title>
</head>
<body>
    <H1>This is the Example of Ejs Page</H1>
    <p><%= `Mehul `+ `Pathak` %></p>
</body>
</html>