<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 text-white">
        <div class="forms p-10">
            <form action="">
                <input class="block px-3 w-full rounded-lg outline-none py-2 bg-zinc-800" type="text" placeholder="title comes here">
                <textarea class="block px-3 w-full rounded-lg outline-none mt-2 py-2 resize-none bg-zinc-800" name="" placeholder="Write your text here" id=""></textarea>
                <input type="button" class="mt-2 bg-blue-600 px-5 py-2 rounded-md" value="Create Task">
            </form>
        </div>
        <div class="tasks flex gap-3 flex-wrap p-10">
            <div class="task w-72 px-3 py-2 bg-zinc-800 rounded-md">
                <h1 class="text-white text-3xl tracking-tighter mb-5">Tittle here</h1>
                <a class="mt-3 bg-blue-600 px-5 py-2 rounded-md" href="">Read More</a>
            </div>
        </div>
    </div>
</body>
</html>